{% extends 'base.html' %}
{% block conteudo %}
<h2 class="text-center">Cadastrar de Livros</h2>
<hr>
<form action="{{url_for('cadastra_livro')}}" class="form-group" method="POST">
    <label>Nome </label>
    <input type="text" class="form-control" name="nome" placeholder="Nome do livro" required>
    <label>Descrição </label>
    <input type="text" class="form-control" name="descricao" placeholder="Descrição do livro" required>
    <label>Valor </label>
    <input type="number" class="form-control" name="valor" placeholder="Valor do livro" required>
    <br>
    <button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}