{% extends 'base.html' %}
{% block conteudo %}
<h2 class="text-center">Editar Livro</h2>
<hr>
<form action="{{url_for('editar_livro', id=livro.id)}}" class="form-group" method="POST">
    <label>Nome </label>
    <input type="text" class="form-control" name="nome" value="{{livro.nome}}" required>
    <label>Descrição </label>
    <input type="text" class="form-control" name="descricao" value="{{livro.descricao}}" required>
    <label>Valor </label>
    <input type="number" class="form-control" name="valor" value="{{livro.valor}}" required>
    <br>
    <button class="btn btn-success">Confirmar</button>
</form>
{% endblock conteudo %}