{% extends 'base.html' %}
{% block conteudo %}
    <h2 class="text-center">Lista de Livros</h2>
    <hr>
    <a class="btn btn-secondary" href="{{ url_for('cadastra_livro')}}">Cadastrar livro</a>
    <br><br>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
                <tr>
                    <td>{{livro.id}}</td>
                    <td>{{livro.nome}}</td>
                    <td>{{livro.descricao}}</td>
                    <td>{{livro.valor}}</td>
                    <td class="col text-center">
                        <a href="{{livro.id}}/edicao_livro" class="btn btn-secondary btn-xs">Editar</a>
                        <a href="{{livro.id}}/remove_livro" class="btn btn-danger btn-xs" onclick="return confirm('Deseja excluir livro?')">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="col text-center">
        {% if livros.has_prev %}
            <a href="{{url_for('lista_livros', page=livros.prev_num)}}" class="btn btn-secondary">Anterior</a>    
        {% endif %}
        {% if livros.has_next %}
            <a href="{{url_for('lista_livros', page=livros.next_num)}}" class="btn btn-secondary">Próxima</a>    
        {% endif %}
    </div>
    

{% endblock conteudo %}